*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
:root {
    --main-color: white;
}
body{
    width: 1600px;
    background: FFFFFF;
    margin: 0 auto;
}
.bgForHeader{
    background:  url(./assets/forHeader.png);
    width: 1600px;
    height: 744px;
    overflow: auto;
    position: absolute;
    z-index: -1;
}
header{
    overflow: auto;
}
a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
    font-style: normal;
    opacity: 80%;
}
p{
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
    font-style: normal;
}
li{
    list-style: none;
}
nav{
    margin-top: 25px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    width: 544px;
    /* height: 44px; */
    margin: 0 auto;
    align-items: center;
}
nav ul li a{
    color: aliceblue;
}
nav ul li:nth-child(1) a{
    opacity: 1;
}
nav ul li:nth-child(1) a::after{
    content: '';
    height: 1px;
    background-color: white;
    display: block;
}
nav ul li a:hover::after{
    content: '';
    height: 1px;
    background-color: white;
    display: block;
}
.logo{
    background-image: url(./assets/logo.svg);
    height: 44px;
    width: 44px;
    background-size: cover;
}

.yourLife h1,h2{
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 4.5px;
    display: inline;
}
.yourLife {
    
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 90px;
    margin-top: 162px;
    
}
.yourLife p{
    width: 504px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: var(--main-color);
    margin: 0 auto;
    margin-top: 20px;
}
.firstButton{
    margin: 0 auto;
    margin-top: 30px;
}
.getStarted{
    display: block;
    opacity: 1;
    
    width: fit-content;
    background-color: #00AFDB;
    width: 184px;
    height: 46px;
    display: flex;
    align-items: center;
    transition: 0.5s ease;
}
.getStarted:hover{
    background-color: #009CC2;
    transition: 0.5s ease;
}
.getStarted p{
    margin: auto;
    width: fit-content;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: white; 
}
.socialLinks{
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin: 0 auto;
    margin-top: 183px;
    height: fit-content;
}
.socialLinks a{
    height: 20px;
    width: 20px;
    margin: 0;
}
.socialLinks a:nth-child(1){
    background-image: url(./assets/socialLink1.svg);
}
.socialLinks a:nth-child(2){
    background-image: url(./assets/socialLink2.svg);
}
.socialLinks a:nth-child(3){
    background-image: url(./assets/socialLink3.svg);
}
.socialLinks a:nth-child(4){
    background-image: url(./assets/socialLink4.svg);
}
.rappresent{
    width: 1600px;
    height: 842px;
    margin-top: 89px;
    display: flex;
}
.rappresent img{
    margin-top: 120px;
    margin-left: 923px;
}
.rappresent section{
    height: fit-content;
    
}
.rappresent section h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    width: 407px;
}
.rappresent section p{
    
}